@import '../../style/scss/color';

.parcelle-card {
  max-width: 350px;
  transition: transform 0.3s;
  box-shadow: $boxShadow2;
  .MuiCardMedia-root {
    padding-top: "56.25%"; 
    .slick-slider {
      .slick-list {
        margin: 0 -16px;
      }
      .slick-slide {
        padding: 0 16px;
        & > div {
          height: 200px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .MuiCardContent-root {
    padding: 16px;
  }
  .MuiTypography-root {
    margin-bottom: 8px;
  }
  .MuiCardActions-root {
    justify-content: flex-start;
    padding: 8px;
  }

  &__description{
    margin-top: 27px;
    font-size: 1em;
    font-weight: bold;
  }

  &__parcelle{
    font-size: 0.95em;
    color: rgb(120, 119, 119);
  }

  &__localisation{
    font-size: 0.85em;
    color: rgb(120, 119, 119);

  }


}