$primary-white : #F5F5F6;
$primary-black : #141414;
$main : rgb(0, 0, 71);
$second : rgb(255, 255, 232);
$soft-black: #212121;
$soft-gray: #525252;

$eerie-black: #1B1B1B;
$night-rider : #2E2E2E;
$chinese-white : #E1E1E1;
$white-flash: #F3F3F3;

$green : rgb(22, 219, 22);
$deepPurple : #673ab7;
$orange : rgb(212, 72, 17);

$boxShadow : 0 5px 10px rgba(57, 57, 57, 0.3);
$boxShadow2 : 0 5px 10px rgba(34, 34, 34, 0.1);

// reel couleur

$oldgreen : #013237;
$primary-green : #4CA771;
$soft-green : #C0E6BA;
$white-real : #EAF9E7;